/* Lora used for body */
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Regular.ttf');
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-RegularItalic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
/* Lora used for body */
@font-face{
    font-family: 'Lora';
    src: url('Lora/Lora-Regular.ttf');
  }
  @font-face{
    font-family: 'Lora';
    src: url('Lora/Lora-Bold.ttf');
    font-weight: bold;
  }
  @font-face{
    font-family: 'Lora';
    src: url('Lora/Lora-Italic.ttf');
    font-style: italic;
  }
  @font-face{
    font-family: 'Lora';
    src: url('Lora/Lora-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
  }
  
  /* Yanone Kaffeesatz used for h1, h2, h3 */
  @font-face{
    font-family: 'Yanone Kaffeesatz';
    src: url('Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
  }
  @font-face{
    font-family: 'Yanone_Kaffeesatz';
    src: url('Yanone_Kaffeesatz/YanoneKaffeesatz-Bold.ttf');
    font-weight: bold;
  }
  
  /* Ubuntu Mono used for code, do we need Italic for code ? */
  @font-face{
    font-family: 'Ubuntu Mono';
    src: url('Ubuntu_Mono/UbuntuMono-Regular.ttf');
  }
  @font-face{
    font-family: 'Ubuntu Mono';
    src: url('Ubuntu_Mono/UbuntuMono-Bold.ttf');
    font-weight: bold;
  }
  @font-face{
    font-family: 'Ubuntu Mono';
    src: url('Ubuntu_Mono/UbuntuMono-Italic.ttf');
    font-style: italic;
  }
  @font-face{
    font-family: 'Ubuntu Mono';
    src: url('Ubuntu_Mono/UbuntuMono-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
  }